@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin: 1rem auto;
  height: 70px;
}

.form-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem auto;
}

.input {
  font-size: 1.1rem;
  padding: 0.5rem;
  outline: none;
}

.btn {
  font-size: 1.1rem;
  padding: 0.5rem;
  cursor: pointer;
}

.input {
  width: 22rem;
}

.card {
  height: 20rem;
}

.city-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.temp {
  font-size: 7rem;
  margin-top: -30px;
  text-align: center;
}

img {
  position: relative;
  left: 180px;
}

.description {
  text-align: center;
  letter-spacing: .2rem;
}